

<h1>New York Time's Articles</h1>
<ul>
  {{#each News}}
    <li>
      <!--<p>Title: {{result.title}}</p>
      <!--<p>Link: {{result.link}}</p>
      <!--<p>Note: {{note}}</p>-->
          </li>
  {{/each}}
</ul>
